<template>
  <div class="grid">
    <div class="grid-row" v-for="(row, rowindex) in grid" :key="rowindex">
      <div
        class="grid-item"
        v-for="(item, columnindex) in row"
        :key="rowindex + ',' + columnindex"
        @click="cellClick(rowindex, columnindex)"
      >
        {{ item }}
      </div>
    </div>
  </div>
</template>

<script>
import { gridje } from "@/scripts/grid.js";
import fibonacci from "@/scripts/fibonacci.js";

const GRIDSIZE = 50;
const MIN_FIBONACCI_LENGTH = 5;
const CELL_CLICK_ANIMATION_DURATION = 300;
const FIBONACCI_ANIMATION_DURATION = 600;

export default {
  data() {
    return {
      grid: Array
    };
  },
  created() {
    // Initialize the (empty) grid
    this.grid = new gridje(GRIDSIZE).gridArray;
  },
  methods: {
    async cellClick(row, col) {
      // Update the grid with the new values,
      // because the grid is square we can use one loop for both the row and the column
      for (let i = 0; i < GRIDSIZE; i++) {
        // Vue does not track changes to arrays, so we use $set to update our grid
        // Update each cell in the row
        this.$set(this.grid[row], i, this.grid[row][i] + 1);
        // Update each cell in the column, but skip the current row as it was already updated
        if (row !== i) this.$set(this.grid[i], col, this.grid[i][col] + 1);
      }

      // Animate the row/cell we clicked!
      this.animateIntersection(row + 1, col + 1);

      // Stores the found fibonacci sequences
      let fibonacciSequences = this.checkFibonacci();

      // Generate the css selectors for the fibonacci sequences
      let fibonacciSequenceSelectors = Array();
      for (let sequence in fibonacciSequences) {
        let seq = fibonacciSequences[sequence];
        fibonacciSequenceSelectors.push(
          this.generateSequenceSelector(
            seq.row + 1,
            seq.startIndex + 1,
            seq.sequenceLength
          )
        );
      }

      let _this = this;

      // Apply the fibonacci animation
      this.animateSequences(fibonacciSequenceSelectors).then(function() {
        // Clear the fibonacci cells
        for (let sequence in fibonacciSequences) {
          let seq = fibonacciSequences[sequence];
          for (let cell = 0; cell < seq.sequenceLength; cell++) {
            _this.$set(_this.grid[seq.row], seq.startIndex + cell, null);
          }
        }
      });
    },
    checkFibonacci() {
      let fibonacciSequences = Array();

      // Check for fibonacci sequences in the updated grid
      for (let i = 0; i < GRIDSIZE; i++) {
        var found = fibonacci.isFibonacciSequence(
          this.grid[i],
          MIN_FIBONACCI_LENGTH
        );

        if (found.length) {
          found.forEach(function(e) {
            e.row = i;
            fibonacciSequences.push(e);
          });
        }
      }
      return fibonacciSequences;
    },
    async animateIntersection(row, col) {
      return this.addCssWithTimeout(
        `.grid .grid-row:nth-child(${row}) .grid-item,
          .grid .grid-row .grid-item:nth-child(${col}) 
          {
            background-color: var(--clicked-glow-color);
          }`,
        CELL_CLICK_ANIMATION_DURATION
      );
    },
    generateSequenceSelector(row, start, end) {
      return `.grid .grid-row:nth-child(${row}) .grid-item:nth-child(n+${start}):nth-child(-n+${start +
        end -
        1})`;
    },
    async animateSequences(selectors) {
      return this.addCssWithTimeout(
        `${selectors.join()}
          {
            background-color: var(--fibonacci-glow-color);
            color: var(--white)
          }`,
        FIBONACCI_ANIMATION_DURATION
      );
    },
    async addCssWithTimeout(style, timeout) {
      // Create a new style element with our styles, wich we will add to the DOM
      var element = document.createElement("style");
      // Insert our style rule
      element.innerHTML = style;
      // Add to the DOM
      var body = document.querySelector("body");
      body.parentNode.insertBefore(element, body);
      // Remove from DOM after timeout
      return new Promise(function(resolve) {
        setTimeout(function() {
          body.parentNode.removeChild(element);
          resolve();
        }, timeout);
      });
    }
  }
};
</script>
