.grid {
    display: flex;
    flex-flow: column;
    width: 90%;
    background-color: $white;
    border-radius: 2px;

    .grid-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .grid-item {
        flex: 1;
        height: 1.5rem;

        color: $primary-color;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: color 0.3s linear, background-color 0.3s linear;
        border: 1px solid rgba($primary-color, 0.1);
        user-select: none;

        &:hover {
            border-radius: 2px;
            background-color: $primary-color;
            color: $white;
            transform: scale(1.3);
        }

    }
}
