@import 'variables';
@import 'reset';
@import 'grid';

body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;            
    background-color: $primary-color;
    display: flex;
    justify-content: center;
}
